<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ducks-Shop</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{frontend/images/Ducklogonotbackground.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{frontend/images/Ducklogonotbackground.png}">
    <link rel="mask-icon" th:href="@{frontend/images/Ducklogonotbackground.png}" color="#666666">
    <link rel="shortcut icon" th:href="@{frontend/images/Ducklogonotbackground.png}">
    <meta name="apple-mobile-web-app-title" content="Ducks-Shop">
    <meta name="application-name" content="Ducks-Shop">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{frontend/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{frontend/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{frontend/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{frontend/css/plugins/jquery.countdown.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{frontend/css/style.css}">
    <link rel="stylesheet" th:href="@{frontend/css/skins/skin-demo-5.css}">
    <link rel="stylesheet" th:href="@{frontend/css/demos/demo-5.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>