<div th:fragment="script">

    <script th:src="@{/frontend/js/jquery.min.js}"></script>
    <script th:src="@{/frontend/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/frontend/js/superfish.min.js}"></script>
    <script th:src="@{/frontend/js/owl.carousel.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.plugin.min.js}"></script>
    <script th:src="@{/frontend/js/jquery.countdown.min.js}"></script>
    
    <!-- Main JS File -->
    <script th:src="@{/frontend/js/main.js}"></script>
    <script th:src="@{/frontend/js/demos/demo-5.js}"></script>
    <script th:src="@{/frontend/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/frontend/js/isotope.pkgd.min.js}"></script>
</div>